<h1>View: users#show</h1>
<% if current_user == @user %>
  <p><%= @user.email %></p>

  <p><%= @user.id %></p>
  <h3>Add a item</h3>
  <%= render 'items/form', user: @user, item: Item.new %>


  <h3>Item list</h3>
  <ul class="list-group">
    <%= render @user.items %>
  </ul>
<% end %>
