<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <li class="list-group-item">
    <%= item.name %><%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %> -
    <%= distance_of_time_in_words(item.created_at, Time.now) %>
  </li>

<% end %>
